@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&display=swap');
/*Navigation style:*/
header{
    position: sticky;
    top: 0;
    z-index: 2;
}
nav{
    width: 100%;
    background-color: rgb(9, 111, 24);
    background-repeat: repeat;
    font-family: 'Antonio', sans-serif;
    border-bottom: 2px solid rgb(0, 39, 1);
    text-align: center;
    padding-top: 4px;
}
body{
    margin: 0px;
    height: 100%;
}
nav::after{
  clear: both;
}
.navul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
  }

.navli {
    display: inline-block;
    position: relative;
}

.nava {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 5px;
}
.contentBlock{
    display: inline-block;
}
.nava:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.navli:hover {
    text-decoration: black;
}
.navli::before {
    /*
    content: '';
    display: block;
    height: 3.5px;
    background-color: rgba(255, 221, 0, 0.32);

    position: absolute;
    bottom: 3px;
    width: 0%;

    transition: all ease-in-out 200ms;
     */
}
.navli:hover::before {
    width: 100%;
    background-color: rgba(255, 221, 0, 0.32);
}
/*Class:*/
.active{
    background-color: rgb(65, 0, 0);
    background-color: rgb(128, 0, 0);
    background-color: rgba(0, 0, 0, 0.2);
}
.logo-div:hover {
    background-color: rgba(0, 0, 0, 0);
    opacity: 0.8;
}
.logo-div {
    padding: 0px;
    margin-right: 1px;
    margin-left: 1px;
}