* {
    block-size: border-box;
}
#video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.info {
    position: fixed;
    background: rgba(0, 0, 0, 0.75);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}